.Todo {
  display: flex;
  flex-direction: column;
  border: 1px solid burlywood;
  padding: 20px;
}

.Todo__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  padding: 0px 20px;
  margin-top: 10px;
  height: 40px;
}

.Todo__item--new {
  border-color: blueviolet;
}

.Todo__item-text {

}

.Todo__item-text--completed{
  color: grey;
  text-decoration: line-through;
}

.Todo__input {
  flex-grow: 1;
  margin-right: 20px;
  margin-left: -10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
